html
	+selection
		background: rgba($red, .5)
		color: #fff 
	&.no-scroll
		overflow: hidden
		body
			overflow: hidden
body
	font-size: 14px
	line-height: 1.4
	color: #000
	min-width: 320px
	+tahoma
	background: #f2f2f2 url(../img/bg-body.png) 0 0 repeat
	letter-spacing: .2px 
button
	cursor: pointer
.wrap
	+clr
.header__bottom,
.menu,
.search__main
	visibility: hidden
.pace-done
	.header__bottom,
	.menu,
	.search__main
		visibility: visible


.btn-dots
	display: inline-block
	border-bottom: 2px dotted 
	color: #fff
	background: none
	line-height: 1.5 
	+tr(border .3s)
	&:hover
		border-color: transparent 
.out
	overflow: hidden
	margin: 0 auto -276px
	position: relative
	min-height: 100%
	height: auto !important
	height: 100%
	+r($l)
		margin-bottom: -303px
	+r($m)
		margin-bottom: 0
	&:after
		content: "" 
		display: block
		clear: both
		height: 276px
		+r($l)
			height: 303px
		+r($m)
			height: 0
.main
	padding-top: 75px
	+r($s)
		padding: 50px 0
	&_foot
		padding-bottom: 80px 

a
	text-decoration: none
.row
	.col
		&.xs12
			+r($s)
				width: 100%
		&.in
			padding: 0 
.s-hidden
	+r($m)
		display: none
.field
	position: relative
	display: block
	margin-bottom: 30px
	+r($s)
		margin-bottom: 25px
	&__title
		display: block
		margin-bottom: 5px
		min-height: 22px
		font-size: 17px
		color: #686868
		+tahoma 
		min-width: 1px
		+r($s)
			font-size: 15px
	.icon-invalid
		position: absolute
		right: 23px
		top: 19px
		color: #ef5f54
		font-size: 22px
		display: none
	.icon-valid
		position: absolute
		right: 17px
		top: 19px
		color: $green
		font-size: 15px
		display: none
	label
		&.has-error
			display: none !important

.input
	display: block
	border: 1px solid #ff733f
	padding: 0 20px 
	width: 100%
	height: 60px
	font-size: 20px
	+arial
	color: #000
	background: #fff 
	border-radius: 5px
	box-shadow: inset 0 2px 0 rgba(#000,.19)
	transition: box-shadow .3s
	+r(640)
		height: 48px
		font-size: 16px
		padding: 0 10px 
	+placeholder
		color: #9d9c9c
	&:focus
		box-shadow: none
	&.has-error
		border-color: #ef5f54 
		+ label
			+ .icon-invalid
				display: block
		+ .icon-invalid
			display: block
	&.valid
		border-color: $green
		+ label
			+ .icon-invalid
				+ .icon-valid
					display: block
		+ .icon-invalid
			+ .icon-valid
				display: block
	&_textarea
		height: 125px
		padding: 15px 25px 
		resize: none
		border: 0

.checkbox
	display: block
	position: relative
	cursor: pointer
	input
		position: absolute
		opacity: 0
		&:checked
			+ .checkbox__text
				&:after
					visibility: visible
					transform: translate3d(0,0,0) rotate(0)
	&__text	
		position: relative
		font-size: 19px
		
		color: #727271 
		padding-left: 37px
		+nosel
		&:before
			content: ""
			position: absolute
			left: 0
			top: 1px
			width: 19px
			height: 19px
			border-radius: 2px
			border: 1px solid $gray_l
		&:after
			visibility: hidden
			content: "\e604"
			position: absolute
			left: 4px
			top: 6px
			+icon 
			font-size: 9px
			color: $blue 
			transform: translate3d(0,0,0) rotate(-90deg)
			transition: transform, opacity, .3s

.radio
	display: block
	position: relative
	cursor: pointer
	input
		position: absolute
		opacity: 0
		&:checked
			+ .radio__text
				&:after
					visibility: visible
					box-shadow: 0 0 0 3px $blue 
	&__text	
		position: relative
		font-size: 19px
		
		color: #727271 
		padding-left: 37px
		+nosel
		&:before
			content: ""
			position: absolute
			left: 0
			top: 1px
			width: 19px
			height: 19px
			border-radius: 50%
			border: 1px solid $gray_l
		&:after
			visibility: hidden
			content: "" 
			position: absolute
			left: 8px
			top: 9px
			width: 3px
			height: 3px
			-webkit-border-radius: 50% 
			border-radius: 50% 
			background: $blue 
			transition: box-shadow .3s
		
.dropdown
	position: absolute
	top: 100%
	right: -11px
	margin-top: 9px
	+arial
	font-size: 17px
	text-align: left
	z-index: 5
	opacity: 0
	visibility: hidden
	+gpu
	white-space: nowrap
	border: 1px solid #fe6215
	border-radius: 5px
	min-width: 105px
	background-color: #fff
	padding: 8px 8px 8px 0
	+tr(opacity .5s)
	line-height: 1.4
	&_service
		min-width: 267px
	&_slider
		width: 300px
		.dropdown__list
			height: 90px
	&.is-active
		opacity: 1
		visibility: visible
	&:after
		content: "" 
		position: absolute
		top: -12px
		z-index: 7
		right: 20px
		+arr(18,12,#fff,t)
	&:before
		content: "" 
		position: absolute
		top: -13px
		right: 19px
		z-index: 6
		+arr(20,13,#fe6215,t)
	&__list
		padding-right: 8px
		padding-top: 8px
		max-height: 240px
		overflow-y: auto
		overflow-x: hidden
		+scrollbar
			width: 4px
			height: 4px
			border-radius: 2px
			background: #bdbdbd
		+scrollbar-thumb
			background: #898989
			border-radius: 2px
		li
			position: relative
			.btn-del
				position: absolute
				right: 0
				top: 5px
			&.is-disaled
				a, span
					color: #d9dada
					pointer-events: none
					cursor: default
	a, span
		display: block
		padding: 6px 5px 6px 20px
		+tr(color .3s)
		color: $gray 
		&:hover
			color: $red
	.checkbox,
	.radio
		margin: 10px 18px
		span
			padding: 0 0 0 37px
	.counter
		top: 7px
.btn-del
	width: 18px
	height: 18px
	background: #d9d9d9
	color: #898989 
	font-size: 8px
	-webkit-border-radius: 50% 
	border-radius: 50% 
	line-height: 1
	transition: color .3s, background .3s
	&:hover
		background: $red
		color: #fff 
	i
		vertical-align: middle
	
.counter
	position: absolute
	z-index: 3
	padding: 2px 6px
	line-height: 1  
	-webkit-border-radius: 15px 
	border-radius: 15px 
	font-size: 12px
	color: #fff 
	background: $red
	font-style: normal
	 
.title
	font-size: 36px
	+norm
	color: #ad1e47
	text-align: center
	text-transform: uppercase 
	+r($s)
		font-size: 28px
	+r($sr)
		font-size: 20px		
	&_white
		text-shadow: 1px 1.7px 1px rgba(0,0,0,.43)
		color: #fff 
	&_fiolet
		color: $fiolet 
.white-bg
	background: #FFF 
	padding: 42px 0 33px
	border-top: 9px solid #e7658a 
	+r($s)
		padding: 20px 0 
		border-width: 4px 
	&_blue
		border-color: #a87fd7
		.title
			color: #6b4199
	&_gold
		border-color: #e3a63f
		position: relative
		&:after
			content: ""
			position: absolute
			+arr(50,20,#fff,b)
			top: 100%
			left: 50%
			z-index: 2
			margin-left: -25px
		&:before
			content: ""
			position: absolute
			+arr(55,23,rgba(166, 110, 15, 0.32),b)
			top: 104%
			left: 50%
			z-index: 1
			margin-left: -27px
			
		.title
			color: #d17303 
.subtitle
	margin: 15px 0 30px 
	font-size: 25px
	+norm
	color: #000
	text-align: center
	+r($s)
		margin-bottom: 20px
	+r($sr)
		font-size: 16px
	span
		color: #a73e5c
	&_fiolet
		span
			color: #896AAC 
.item
	display: block
	position: relative	
	width: 230px
	border-radius: 5px 
	color: #fff
	text-align: center 
	transition: border-color .2s
	margin-bottom: 30px
	+r($m)
		width: 300px
		margin: 0 auto 30px 
	
	&:hover
		border-color: #ef8ba0
		.item__back
			background: rgba(#383838,.7)
			transform: translateY(0) 
			transition: background .3s .3s, transform .3s
		.item__text
			opacity: 1
	&__top
		position: relative
		border: 2px solid #b54d6b
		box-shadow: 0 2px 0 rgba(0, 0, 0, 0.31)
		overflow: hidden
		height: 215px
		width: 100%
		border-radius: 6px
	&__img
		height: 215px	
		+cover	
		+r($m)
			height: 276px
	&__back
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 100%
		padding: 35px
		background: rgba(#3c3d41,0) 
		transition: background .3s, transform .3s
		overflow: hidden
		border-radius: 5px 
		transform: translateY(134px)
		+r($m)
			padding: 10px 
			transform: translateY(120px)
	&__title
		margin-top: 11px
		font-size: 22px
		color: #010101 
		+norm
		+r($s)
			font-size: 18px
	&__text
		font-size: 14px
		padding-bottom: 25px 
		position: relative
		+gpu
		opacity: 0
		transition: opacity .1s
		+arial 
		&:before
			content: ""
			position: absolute
			left: 50%
			bottom: 0
			margin-left: -78px
			height: 2px
			width: 156px
			background: #ff733f 
	.amount
		position: absolute
		left: 0
		right: 0
		bottom: 25px

.amount
	font-size: 16px
	font-weight: bold  
	color: #fff 
	span
		color: #c999ff

.slider
	position: relative
	margin-bottom: 45px
	opacity: 0
	visibility: hidden
	+tr(opacity .3s)
	&.is-ready
		opacity: 1
		visibility: visible
	.slick-slider
		overflow: hidden
	.slick-list
		margin: 0 80px 0 100px 
		+r($m)
			margin: 0 40px
		+r($s)
			margin: 0 
	.slick-next,
	.slick-prev
		display: none !important	

	.item
		+r($l)
			margin: 0 auto 
		+r($m)
			width: 230px
		+r(380)
			width: 200px
	&__prev,
	&__next
		position: absolute
		top: 50%
		width: 50px
		height: 44px
		margin-top: -42px
		font-size: 43px
		background: none
		text-align: center
		color: #fff											
		+tr(color .3s)
		+r($s)
			display: none
		&:hover
			color: #fb703c
		i
			+i-icon	
			font-size: 43px
	&__prev
		left: 0
	&__next
		right: 0
	.item
		margin-bottom: 0
	.item__title
		font-size: 20px
		+arial
		font-weight: bold
		text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.43)
		color: #fff 
		margin-top: 16px
		+r(640)
			font-size: 15px
	&.is-fiolet
		.item__top
			border-color: #c6a2ed
			&:hover
				border-color: #e9d4ff
		.item__title
			font-size: 16px
		.amount
			span
				color: #FE4E52 
	&.is-gold
		.item__top
			border-color: #f1b652 
			&:hover
				border-color: #ffc000 
		.item__back
			padding-top: 85px 

.btn-more
	display: inline-block
	padding: 6px 10px 
	min-width: 200px
	border: 1px solid #e8b86d
	font-size: 18px
	color: #651b00 
	text-align: center
	background: #ffedca
	border-radius: 5px 
	transition: background .3s
	+r($s)
		font-size: 15px 
	&:hover
		background: darken(#ffedca, 5%)
.link-icon
	display: inline-block
	font-size: 13px
	
	color: #fff 
	span
		border-bottom: 1px solid rgba(#fff,.5)
		+tr(border .3s)
	&:hover
		span
			border-color: transparent 
		.icon-star
			color: $yellow 
	i
		margin-left: 4px
	.icon-star
		color: #fcd45a
		+tr(color .3s)
		
.tag
	display: inline-block
	vertical-align: top
	border: 2px solid $border
	padding: 4px 10px 3px
	font-size: 10px
	border-radius: 4px 
	+tahoma
	line-height: 1 
	text-transform: uppercase
	color: #B2B3B3 
	transition: border, color .3s
	&:hover
		border-color: #686868 
		color: #686868 
	&_dark
		color: #8F8F8F 
.tags-cloud
	margin-top: 16px
	+r($s)
		margin-top: 10px
	.tag
		margin-right: 15px
		margin-top: 14px
		&:last-child
			margin-right: 0
		
.user-info
	position: relative
	text-align: center
	white-space: nowrap
	.slick-next,
	.slick-prev
		visibility: hidden
	.pic
		display: inline-block
		vertical-align: top
		margin-right: 15px
		width: 44px
		height: 44px
	.meta
		font-size: 12px
	&_vertical
		text-align: center
		.pic
			width: 71px
			height: 71px
			float: none
			display: inline-block
			margin-right: 0
			+r($s)
				width: 44px
				height: 44px
		.user-info__main
			display: block
			overflow: visible
			text-align: center
		.user-info__name
			font-size: 11px
		.meta
			font-size: 11px
			
	&_someone
		text-align: center
		.pic
			width: 92px
			height: 92px
			float: none
			margin-right: 0
			display: inline-block
			+r($m)
				width: 71px
				height: 71px
			+r($s)
				width: 44px
				height: 44px
		.user-info__main
			display: block
			overflow: visible
			text-align: center
		.user-info__name
			font-size: 9.75px
			color: #838c8b
			
			width: 140px
			line-height: 1 
			text-transform: none 
			+r($l)
				width: 112px
			+r($m)
				width: 100px
			+r($s)
				width: 80px

	&__main
		display: inline-block
		vertical-align: top
		white-space: normal
		text-align: left
	&__name
		display: inline-block
		margin-bottom: 3px
		font-size: 13px
		
		color: $dark
		+tr(color .3s)
		text-transform: uppercase
		&:hover
			color: $red 
		span
			display: block
	&__soc
		margin-top: 24px
		+r($l)
			margin-top: 20px
		+r($m)
			margin-top: 15px
		+r($s)
			margin-top: 10px 
		
		
.masonry-items
	margin-top: 35px
	margin-right: -50px
	+r($s)
		margin-right: 0
		margin-top: 22px
	+ .ad
		margin-top: 0
.masonry-items_l
	margin-right: 0
	+r($l)
		margin-right: -50px
	+r($s)
		margin-right: 0
.post
	display: block
	position: relative
	border-radius: 4px 
	background: #fff
	box-shadow: 0 0 4px rgba(#000,.12)
	margin: 0 1.9% 1.95% 0
	width: 22.5%
	overflow: hidden
	+tr(box-shadow .3s)
	+r($l)
		margin: 0 3% 3% 0
		width: 30.3%
	+r($m)
		margin: 0 5% 5% 0
		width: 43.9%
	+r($s)
		width: 100%
		margin: 0 0 5%
	&:hover
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16)
		.post__title
			color: #000 
		.post__media
			&:before
				opacity: 0
	&__media
		position: relative
		display: block
		z-index: 2
		&:before
			content: ""
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			z-index: 1
			border-radius: 4px 4px 0 0 
			opacity: 0.7
			+gpu
			+tr(opacity .3s)
			background-image: linear-gradient(rgba(#000,0), rgba(#000,.7)) 
		img
			display: block
			width: 100%
			height: auto 
			border-radius: 4px 4px 0 0 
		.badge
			position: absolute
			top: 24px
			left: 24px
			z-index: 3
	&__info
		line-height: 1.4
		font-size: 14px
		color: $dark
		padding: 12px 11px 24px 0
		margin-left: 11px
		border-top: 1px solid #ececec
		span
			display: inline-block
			margin-right: 11px
		
	&__title
		padding: 10px 11px 13px
		color: $dark
		line-height: 1.3
		font-size: 18px
		+norm
		+tr(color .3s)
	&__meta
		+clr
		padding: 12px 11px
		border-top: 1px solid #ececec
		background: #f9f9f9 
	&__count
		position: absolute
		right: 24px
		top: 24px
		z-index: 2 
		.count
			float: none
			color: #fff 
	.count
		float: left
	.meta
		float: right
	&__in
		padding: 20px 30px 8px
		position: relative 
	&__cat
		margin-bottom: 6px
		font-size: 11px
		
		color: #8f8f8f
		text-transform: uppercase 
		a
			color: #8f8f8f
			+tr(color .3s)
			&:hover
				color: $orange 
	&__main-cat
		margin-bottom: 16px
		color: #686868 
	&__cat-more
		border-top: 1px solid #EDEDED
		padding: 18px 30px 10px
		margin: 0 -30px  
	&__item
		margin: 0 -30px 10px
		padding: 25px 30px 15px
		border-top: 1px solid #EDEDED
	&__link
		
		color: #898989
		display: inline-block
		line-height: 1.2
		font-size: 18px 
		+tr(color .3s)
		&:hover
			color: $orange 
	&__author
		position: absolute
		left: 24px
		top: 24px
		color: #fff
		z-index: 2 
		font-size: 14px
		+tahoma
	&__head
		position: absolute
		left: 24px
		right: 24px
		bottom: 25px
		z-index: 2
		color: #fff 
		font-size: 16px
		line-height: 1.3
		
		.badge
			margin-bottom: 10px
			position: static
	&__detail
		color: $blue 
		font-size: 17px
		 
		text-transform: none
	.btn-play
		z-index: 2
	.user-info
		text-align: left
.post_group
	&:hover
		.post__title
			color: $dark 
	.post__media
		margin-bottom: 18px
		&:before
			border-radius: 4px
	img
		border-radius: 4px 
	.icon-string
		position: absolute
		right: 30px
		top: 0
		color: $orange 
		font-size: 30px
	.post__title
		+tahoma
		font-size: 18px
		line-height: 1.1
		&:hover
			color: $orange 
.post_media
	border-bottom: 0
	.post__media
		img,
		&:before
			border-radius: 4px 
		.count
			i
				color: #DFE0E6 

.post_pop
	padding: 20px 24px 
	background: $red
	color: #fff
	+tr(background .3s)
	&:hover
		background: $red_h 
		.post__title
			color: #fff 
	.badge
		position: static
		padding: 0
		margin-bottom: 10px
		background: none
	.post__title
		margin-bottom: 15px
		font-size: 28px
		color: #fff
		
		line-height: 1.2 
	.meta
		
		float: none
		color: #d8d9d9 
		i
			margin-right: 5px
	.user-info
		margin: 0
		padding-top: 35px
		&:before
			display: none
		&__name
			color: #fff
		.meta
			margin-bottom: 6px
			

	.pic
		width: 70px
		height: 70px
		
.post_card
	height: 294px
	width: 314px
	overflow: hidden
	text-align: left
	&:hover
		.post__overlay
			opacity: 1
	.post__overlay
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 1
		border-radius: 4px 4px 0 0 
		opacity: 0.7
		+gpu
		+tr(opacity .3s)
		background-image: linear-gradient(rgba(#000,.2), rgba(#000,.7)) 
	.post__media
		&:before
			display: none
	.post__head
		font-size: 18px
		color: #fff 
		text-transform: uppercase
		a
			color: #fff 
		.post__detail
			color: $blue
.post_width
	width: 100%
	+r($l)
		width: 29.3%
	+r($m)
		width: 39.9%
	+r($s)
		width: 100%

.price
	+norm
	span
		font-size: 25px
.badge
	position: relative
	display: inline-block
	padding: 4px 8px 3px
	min-width: 60px
	font-size: 12px
	color: #fff
	line-height: 1
	text-align: center
	
	border-radius: 3px 
	text-transform: uppercase
	&_red
		background: $red 
	&__icon
		display: block
		position: absolute
		left: 0
		top: 0
		
		color: #ef5f54
		font-size: 30px
	&__text
		position: relative
		z-index: 2
		line-height: 30px
		height: 30px
		
		font-size: 16px
.btn-play
	position: absolute
	left: 50%
	top: 50%
	margin: -38px 0 0 -38px
	border: 2px solid #fff
	width: 76px
	height: 76px
	line-height: 76px
	text-align: center
	border-radius: 50% 
	&:after
		content: ""
		display: inline-block
		vertical-align: middle
		margin-left: 10px
		+arr(22,26,#fff,r) 

.widget
	margin: 0 3.7% 3.95% 0
	width: 29.3%
	border-bottom: 1px solid $border 
	background: #fff
	border-radius: 4px
	overflow: hidden 
	+tr(box-shadow .3s)
	color: #3d3e43
	+r($m)
		margin: 0 5% 5% 0
		width: 43.9%
	+r($s)
		width: 100%
		margin: 0 0 5%
	&:hover
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16)
	&__in
		padding: 20px 20px 17px
	&__head
		margin-bottom: 25px
		+clr
	&__title
		float: left
		
		font-size: 15px
		text-transform: uppercase 
	&__name
		float: right
		
		a
			color: $orange
			+tr(color .3s)
			&:hover
				color: $red 
	&__body
		margin-bottom: 42px
		font-size: 0
		overflow: hidden
	&__img
		float: left
		width: 91px
		height: 91px
		+vertical
		overflow: hidden
		+r($l)
			width: 81px
			height: 81px
		+r($s)
			width: 33.2%
			height: 33.2%
		&:hover
			img
				opacity: .9 
		a
			display: inline-block
			vertical-align: middle
		img
			display: block
			height: auto
			width: 100%
			+gpu
			+tr(opacity .3s)
			

	&__footer
		text-transform: uppercase
		color: #8f8f8f 
		text-align: center
		font-size: 13px
		
		a
			color: #8f8f8f 
			+tr(color .3s)
			&:hover
				color: $orange 
.ad
	margin: 47px 0 
	text-align: center
	// &_sidebar
	// 	+r($l)
	// 		display: none
	img
		max-width: 100%
		border-radius: 4px 
		
.reviews-wrap
	font-size: 0
.review
	display: inline-block
	vertical-align: top
	position: relative
	margin: 0 3.95% 3.95% 0
	width: 30.7%
	+r($m)
		width: 47.2%
		margin: 0 5.3% 5.3% 0
	+r($s)
		width: 100%
		margin: 0 0 5% 
	&:nth-child(3n)
		margin-right: 0
	&:nth-child(2n)	
		+r($m)
			margin-right: 0
	.comment
		margin-bottom: 22px
	.user-info
		.pic
			width: 54px
			height: 54px
.comment
	position: relative
	padding: 15px 15px 15px 24px 
	color: #3d3e43
	font-size: 17px
	 
	line-height: 1.2
	border-radius: 4px 
	background: #dedede 
	&:after
		content: ""
		position: absolute
		left: 20px
		bottom: -10px
		+arr(16,10,#dedede,b) 
	

	
.popup
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 20
	padding: 65px 
	+cover
	+vertical
	display: none
	overflow-y: auto
	overflow-x: hidden
	+r(768)
		padding: 20px
	+r(480)
		padding: 10px 
	&__in
		display: inline-block
		position: relative
		border: 2px solid #f4a60f
		padding: 40px 
		border-radius: 5px
		overflow: hidden 
		z-index: 2
		vertical-align: middle
		width: 580px
		font-size: 17px
		color: #fff
		background: rgba(#7a045b, .54)
		box-shadow: 0 3px 10px rgba(#000,.18)
		+r(768)
			width: 100%
		+r(640)
			padding: 20px 

		.popup__close
			display: none
			position: absolute
			right: 20px
			top: 43px
			font-size: 30px
			color: #000 
			+r(768)
				display: block
			+r(640)
				font-size: 20px
				top: 33px
	&__head
		padding: 26px 10px 
		margin: -40px -40px 45px
		background: rgba(#fff, .85) 
		+r(768)
			text-align: left 
		+r(640)
			padding: 20px 10px
			margin: -20px -20px 20px
			text-align: left 
		.logo
			position: static 
			+r(640)
				img
					width: 45px
				span
					font-size: 20px
	&__note
		margin: 15px 0 
		padding: 0 35px 
		color: #8f8f8f
		font-size: 15px
		 
		a
			color: #8f8f8f
			+tr(color .3s)
			border-bottom: 1px solid 
			&:hover
				color: #fff 
				border-color: transparent 
	&__close
		position: absolute
		right: 0
		top: 0
		right: 26px
		top: 26px
		font-size: 40px
		color: #fff
		background: none 
		z-index: 2
		+r(768)
			display: none
	&__title
		text-align: right
		padding-right: 25px
		height: 70px
		line-height: 70px
		font-size: 32px
		+italic
		color: #ad1e47 
		+r(768)
			text-align: left
			display: none
	&__text
		margin: 45px 0 38px
		font-size: 22px
		+r(768)
			margin: 20px 0 
			font-size: 15px
	.tabs
		margin-top: 45px
		margin-bottom: 30px
		+r(640)
			margin: 20px -8px 
	.btn
		padding: 19px 50px 18px 
.popup_with-title

	.popup__head
		.logo
			span
				font-size: 32px	
				+r(768)
					font-size: 22px	
.or
	overflow: hidden
	margin: 8px 0 20px 
	text-align: center
	font-size: 20px
	+bold
	color: #ffe7b8 
	span
		display: inline-block
		position: relative
		text-shadow: 0 2px 0 rgba(#000,.26)
		&:before,
		&:after
			content: ""
			position: absolute
			top: 50%
			height: 1px
			background: rgba(#fff, .5)
			width: 300px
		&:before
			left: -315px
		&:after
			right: -315px
			
.tabs-cont
	display: none
.btn
	display: inline-block
	padding: 15px 50px
	width: auto
	+arial
	font-weight: bold  
	background: $btn
	border-radius: 4px
	text-transform: uppercase  
	color: #651b00 
	position: relative
	transition: background-color .3s
	font-size: 20px
	overflow: hidden
	+r($m)
		font-size: 16px
	+r($s)
		display: block
	&:hover
		background-color: $btn-hover 
	&_simple
		font-size: 19px
		padding: 15px 45px 
		+r($m)
			font-size: 16px
		&:before,
		&:after
			display: none
	&_full-width
		display: block
		width: 100%
		text-align: center
	&_yellow
		background: #f4a60f 
		&:hover
			background: darken(#f4a60f, 5%) 
		+r($s)
			box-shadow: none
.btn-wrap
	position: relative
	text-align: center
	display: inline-block
	+r($s)
		display: block
	&:before,
	&:after
		content: ""
		position: absolute
		height: 2px
		width: 470px
		top: 50%
		margin-top: -1px
		background: rgba(142,99,111,.16)
		+r($s)
			display: none
		
	&:after
		right: -480px
	&:before
		left: -480px	
.btn-pills
	display: inline-block
	background: none
	border: 2px solid
	padding: 8px 10px 
	border-radius: 5px 
	color: #fff 
	font-size: 20px
	+tahoma
	+bold
	+r(640)
		font-size: 15px
	+r($sr)
		font-size: 13px
	&_block
		display: block
		width: 100%
		text-align: center
	&:hover,
	&.is-active
		background: #feaa07 
		border-color: #feaa07 
		+bold
		color: #603f00 
.center-align
	&.is-overflow
		overflow: hidden
.slider-bg
	+cover
	padding: 45px 0 55px 
	+r($s)
		padding: 28px 0 0
	.title
		margin-bottom: 50px 
		+r($s)
			margin-bottom: 28px
	&_one
		box-shadow: 1px 5px 0 rgba(#5a001a,.28) inset
	&_two
		box-shadow: 1px 5px 0 rgba(#3b1c5f,.28) inset
	&_three
		box-shadow: 1px 5px 0 rgba(166, 110, 15, 0.32) inset
		
.main-bg
	background: url(../img/bg.png) 0 0 repeat
	box-shadow: 1px 2px 0 rgba(142,99,111,.16) inset
	padding: 30px 0 58px 
	+r($s)
		padding: 12px 0 46px
.masonry-items-wrap
	padding: 30px 0 58px 
	border-top: 9px solid #d9d4cc
	+r($s)
		padding: 20px 0 50px
		border-width: 4px 
	
		
.sssl
	position: relative
	text-align: left
	select
		opacity: 0
		position: absolute
	&.is-active
		> ul
			display: block
	> span
		position: relative
		display: block
		cursor: pointer
		padding: 0 40px 0 20px 
		height: 48px
		line-height: 48px
		border: 2px solid #f4a60f
		white-space: nowrap
		font-size: 17px
		+bold
		color: #fff 
		overflow: hidden
		border-radius: 5px 
		text-align: left
		text-overflow: ellipsis
		background: rgba(#e29c06, .3) 
		+r(640)
			font-size: 16px
			font-weight: normal
			border-width: 1px
		&:after
			content: $i-icon-caret-d
			position: absolute
			right: 15px
			top: 50%
			margin-top: -6px
			+i-icon
			font-size: 12px
			color: #fff 
	> ul
		position: absolute
		display: none
		left: 0
		right: 0
		top: 100%
		z-index: 2
		margin-top: 5px
		border: 2px solid #f4a60f
		padding: 10px 0 
		max-height: 300px
		overflow-x: hidden
		overflow-y: auto
		background: #fff
		font-size: 17px
		color: #000
		border-radius: 5px 
		list-style-type: none
		li
			padding: 10px 20px
			cursor: pointer
			line-height: 1
			&:hover
				background: #f4a60f
				color: #fff  


		