//! fancyBox v2.1.3 fancyapps.com | fancyapps.com/fancybox/#license
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image
	padding: 0
	margin: 0
	border: 0
	outline: none
	vertical-align: top

.fancybox-wrap
	iframe, object
		padding: 0
		margin: 0
		border: 0
		outline: none
		vertical-align: top

.fancybox-nav
	padding: 0
	margin: 0
	border: 0
	outline: none
	vertical-align: top
	span
		padding: 0
		margin: 0
		border: 0
		outline: none
		vertical-align: top

.fancybox-tmp
	padding: 0
	margin: 0
	border: 0
	outline: none
	vertical-align: top

.fancybox-wrap
	position: absolute
	top: 0
	left: 0
	z-index: 8020
	//box-shadow: 0 1px 10px rgba(10,53,59,.52)
.fancybox-skin
	position: relative
	background: none
	text-shadow: none
	border-radius: 4px
	+r($s)
		padding: 0 !important 
.fancybox-opened
	z-index: 8030

.fancybox-outer
	position: relative

.fancybox-inner
	position: relative
	overflow: hidden

.fancybox-type-iframe .fancybox-inner
	-webkit-overflow-scrolling: touch

.fancybox-error
	color: #444
	font: 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif
	margin: 0
	padding: 15px
	white-space: nowrap

.fancybox-image, .fancybox-iframe
	display: block
	width: 100%
	height: 100%

.fancybox-image
	max-width: 100%
	max-height: 100%

#fancybox-loading
	position: fixed
	top: 50%
	left: 50%
	margin-top: -22px
	margin-left: -22px
	background-position: 0 -108px
	opacity: 0.8
	cursor: pointer
	z-index: 8060
	div
		width: 44px
		height: 44px
		//background: url(../img/fancybox_loading.gif) center center no-repeat

.fancybox-close
	position: absolute
	right: 0
	top: 0
	z-index: 8050
	&:before
		content: $i-icon-close
		+i-icon 
		font-size: 20px
		color: #fff 
	+r($s)
		top: -50px
		+scale(.5)
.fancybox-nav
	position: absolute
	top: 0
	width: 40%
	height: 100%
	cursor: pointer
	text-decoration: none
	// helps IE
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
	z-index: 8040

.fancybox-prev
	left: 0
	span
		left: 15px
		+r($s)
			left: -15px
		&:before
			content: "\e61e" 
			
			//+svg(caret-l-big,22,43)

.fancybox-next
	right: 0
	span
		right: 15px
		+r($s)
			right: -15px
		&:before
			content: "\e60f" 
			//+svg(caret-r-big,22,43)

.fancybox-nav 
	span
		position: absolute
		top: 50%
		width: 66px
		height: 66px
		text-align: center
		line-height: 66px
		margin-top: -33px
		cursor: pointer
		z-index: 8040
		&:before
			font-size: 27px
			color: #fff 
			+icon
			+r(1023)
				font-size: 20px
.fancybox-tmp
	position: absolute
	top: -99999px
	left: -99999px
	visibility: hidden
	max-width: 99999px
	max-height: 99999px
	overflow: visible !important

// Overlay helper

.fancybox-lock
	overflow: hidden

.fancybox-overlay
	position: absolute
	top: 0
	left: 0
	overflow: hidden
	display: none
	z-index: 8010
	background: #fff
	background: rgba(#000, .7)

.fancybox-overlay-fixed
	position: fixed
	bottom: 0
	right: 0

.fancybox-lock .fancybox-overlay
	overflow: auto
	overflow-y: scroll

// Title helper

.fancybox-title
	visibility: hidden
	font: normal 13px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif
	position: relative
	text-shadow: none
	z-index: 8050

.fancybox-opened .fancybox-title
	visibility: visible

.fancybox-title-float-wrap
	position: absolute
	bottom: 0
	right: 50%
	margin-bottom: -35px
	z-index: 8050
	text-align: center
	.child
		display: inline-block
		margin-right: -100%
		padding: 2px 20px
		background: rgba(0, 0, 0, 0.8)
		border-radius: 15px
		text-shadow: 0 1px 2px #222
		color: #FFF
		font-weight: bold
		line-height: 24px
		white-space: nowrap

.fancybox-title-outside-wrap
	position: relative
	margin-top: 10px
	color: #fff

.fancybox-title-inside-wrap
	padding-top: 10px

.fancybox-title-over-wrap
	position: absolute
	bottom: 0
	left: 0
	color: #fff
	padding: 10px
	background: #000
	background: rgba(0, 0, 0, 0.8)
	
#fancybox-thumbs
	position: fixed
	left: 0
	width: 100%
	overflow: hidden
	z-index: 8050

#fancybox-thumbs.bottom
	bottom: 2px

#fancybox-thumbs.top
	top: 2px

#fancybox-thumbs ul
	position: relative
	list-style: none
	margin: 0
	padding: 0
	white-space: nowrap
#fancybox-thumbs ul li
	display: inline-block
	vertical-align: middle
	padding: 10px
	opacity: 0.5

#fancybox-thumbs ul li.active
	opacity: 0.75
	padding: 0
	a
		border: 2px solid #f1b652

#fancybox-thumbs ul li:hover
	opacity: 1

#fancybox-thumbs ul li a
	display: block
	position: relative
	overflow: hidden
	border: 3px solid transparent
	outline: none
	border-radius: 5px 

#fancybox-thumbs ul li img
	display: block
	position: relative
	border: 0
	padding: 0
	border-radius: 5px 
	max-width: none
