.footer
	position: relative
	z-index: 2
	padding: 72px 0 35px 
	color: #d3c5ce
	font-size: 0
	font-family: Tahoma, sans-serif 
	overflow: hidden
	background: #5c2849
	+r($m)
		padding: 40px 0 50px
		position: static
	+r($s)
		font-size: 15px
		padding: 17px 0 42px
	&__col
		display: inline-block
		padding-right: 10px
		vertical-align: bottom
		
	&__col-1
		width: 25%
		+r($m)
			width: 33.3%
		+r($s)
			width: 67% 
			text-align: center
	&__col-2
		width: 16.6%
		+r($m)
			width: 33.3%
		+r($s)
			width: 30% 
	&__col-3
		width: 25%
		+r($m)
			width: 100%
			margin-top: 40px
			text-align: center
		+r($s)
			margin-top: 23px 
	&__col-4
		width: 33.3%
		+r($m)
			width: 33.3%
		+r($s)
			width: 100%
			margin-top: 25px
	&__col-5
		margin-top: 7px
		width: 20.5%
		padding-right: 0
	.logo
		position: static
		margin-bottom: 28px
		display: inline-block
		vertical-align: middle
		// i
		// 	+s(logo)
		// 	display: inline-block
		// 	vertical-align: middle
		span
			color: #e4cbdb
			font-size: 30px
			display: inline-block
			width: 130px
			margin-left: 0
			text-shadow: none 
			text-align: center
			vertical-align: middle
			line-height: .9
			letter-spacing: .2px
			+italic 
			+r($s)
				font-size: 25px
				width: 105px
		+r(1023)
			margin-bottom: 20px
	.soc
		margin: 22px 0 0 -15px
		+r($m)
			margin: 0 0 20px -15px
	&__links
		display: inline-block
		white-space: nowrap
		text-align: left
		li
			margin-bottom: 20px			
			&:last-child
				margin-bottom: 0
			+r($s)
				margin-bottom: 6px
		a
			color: #d3c5ce
			+tr(color .3s)
			font-size: 19px
			+r($s)
				font-size: 12px
			&:hover
				color: $red
	&__nav
		margin-top: 7px
		font-size: 14px
		text-transform: uppercase
		
		+r($s)
			font-size: 12px
		li
			margin-bottom: 23px
			+r(1023)
				margin-bottom: 26px
		a
			color: #fff 
			+tr(color .3s)
			&:hover
				color: $red
	&__name
		margin: 0 0 35px
		font-size: 19px
		+r($m)
			margin: 0 0 25px 
		+r($s)
			font-size: 12px
		i
			display: inline-block
			vertical-align: middle
			margin-right: 15px
			font-size: 19px
			color: #af87a1
			+r($s)
				font-size: 13px
				margin-right: 10px
	&__soc
		font-size: 0
		li
			display: inline-block
			margin-left: 18px
			&:first-child
				margin-left: 0
			+r($m)
				margin-left: 14px
			&:hover
				a
					background-color: #de0040 

		a
			display: block
			width: 42px
			height: 47px
			background-color: #ad1e47
			box-shadow: 0.5px 0.9px 0 rgba(33, 0, 21, 0.31)
			border-radius: 4px
			transition: background-color .2s
			+vertical
			+r($m)
				width: 37px 
				height: 41px
		i
			vertical-align: middle
			display: inline-block
			color: #FFF 
		.icon-fb
			font-size: 29px
			+r($m)
				font-size: 25px
		.icon-tw
			font-size: 26px
			+r($m)
				font-size: 22px
		.i-icon-vk
			font-size: 26px
			+r($m)
				font-size: 22px
		.i-icon-g
			font-size: 30px
			+r($m)
				font-size: 26px
	&__title
		margin-bottom: 45px
		font-size: 14px
		color: #fff 
		
		text-transform: uppercase
	.btn
		&:before,
		&:after
			display: none
.copyright
	color: #d0c6cc
	font-size: 15px
	text-align: center
	+r($s)
		font-size: 12px
	
.subscribe
	position: relative
	+r($s)
		width: 192px
		margin: 0 auto 
	&__input
		display: block
		padding: 0 60px 0 14px 
		width: 100%
		height: 43px
		background: #855e77
		border: 0
		transition: background .3s, color .3s
		-webkit-border-radius: 2px 
		border-radius: 4px 
		font-size: 19px
		+tahoma
		color: #D3C5CE 
		+placeholder
			color: #d3c5ce 
		+r($s)
			font-size: 12px
			height: 28px
			padding: 0 40px 0 9px 
		&:focus
			background: #fcfcfc
			color: #000
			+placeholder
				color: #878385
	.btn
		position: absolute
		padding: 0
		right: 0
		top: 0
		height: 43px
		width: 50px
		border-radius: 0 2px 2px 0
		line-height: 50px
		-webkit-box-shadow: none 
		box-shadow: none 
		+r($s)
			width: 32px
			height: 28px
		i
			position: absolute
			left: 50%
			top: 50%
			font-size: 25px
			color: #D84B17 
			transform: translate3d(-50%,-50%,0)
			transition: color .3s
			+i-icon
			+r($s)
				font-size: 16px
		&:hover
			i
				color: #CA3C08 
.soc
	li
		display: inline-block
		vertical-align: middle
	a
		display: block
		width: 40px
		height: 40px
		color: #888 
		line-height: 40px
		text-align: center
		+tr(color .3s)
		&:hover
			color: $red 
		i
			display: inline-block
			vertical-align: middle
			 
	.icon-fb
		font-size: 18px
	.icon-tw
		font-size: 15px
	.icon-ig
		font-size: 16px
	.icon-sc
		font-size: 11px
