.header
	position: fixed
	top: 0
	left: 0
	right: 0 
	z-index: 10
	&.is-active
		.header__bottom
			transform: translateY(0)
	&.is-fixed
		.header__bottom
			+tr(transform .3s)
			.logo
				display: none
	&__top
		position: relative
		z-index: 2
		.btn
			height: 51px
			margin-right: 17px
			line-height: 51px
			width: 63px
			padding: 0
			text-align: center
			.i-icon-search
				vertical-align: middle
				font-size: 28px
				color: #e65925 
			+r($l)
				display: none
		
		.btn_enter
			display: none
			padding: 0 20px 
			height: 45px
			line-height: 45px
			width: auto
			font-size: 18px
			text-transform: none
			+r($l)
				display: inline-block
		.btn-menu
			display: none
			+r($l)
				display: inline-block
			&_main
				display: inline-block
				+r($l)
					display: none
	&__top,
	&__bottom
		position: relative
		background: #fff
		height: 113px 
		line-height: 113px
		border-bottom: 2px solid #f4a60f
		+r($l)
			height: 75px
			line-height: 75px
	&__bottom
		position: absolute
		background-color: rgba(255, 255, 255, 0.8)
		left: 0
		top: 100%
		right: 0
		z-index: 1
		transform: translateY(-100%)
		+r($l)
			display: none
		.btn-menu
			display: none
			+r($l)
				display: inline-block
	&__band
		display: inline-block
		margin-right: 17px
		vertical-align: middle
		width: 370px
		+r($l)
			display: none
	&__city
		display: inline-block
		margin-right: 17px
		vertical-align: middle
		width: 280px
		+r($l)
			display: none
	&__main
		text-align: right
		font-size: 0
		.logo
			position: absolute
			left: 0.75rem
	a
		color: $gray 
		+tr(color .3s)
		&:hover
			color: $red  
	&_error
		position: absolute
		background-color: rgba(255, 255, 255, 0.8)
		height: 149px  
		border-bottom: 2px solid #f4a60f
		box-shadow: 0 2px 0 rgba(#000,.3)
		+vertical
		+r($s)
			height: 100px
		.logo
			display: inline-block
			vertical-align: middle
			position: static
			img
				width: 111px
				height: auto
			span
				font-size: 55px
	.search,
	.nav,
	.currency,
	.favorite,
	.user
		+r($l)
			display: none
	.select2-container
		margin: 0
		height: 51px
		line-height: 51px
		.select2-selection--single,
		.select2-selection__arrow
			height: 51px
			line-height: 51px
		
	.btn_yellow
		padding: 0 20px
		text-transform: none 
		height: 45px
		line-height: 45px
		vertical-align: middle
		+r($l)
			margin-right: 11px
			font-size: 18px
		+r($s)
			display: inline-block
			padding: 0 13px 
			height: 30px
			line-height: 30px
			font-size: 13px
			border-radius: 3px 
		&:before,
		&:after
			display: none
		i
			color: #e65925
			transition: color .3s
			font-size: 0
			vertical-align: middle
			&:before
				font-size: 28px
				vertical-align: middle
		&:hover
			i
				color: #D94C17   
	.logo
		+r($l)
			img
				width: 45px
		+r($sr)
			span
				font-size: 15px

.header_index
	position: absolute
	&.is-active
		.header__bottom
			transform: translateY(0)
	.header__bottom
		transform: translateY(0)
		+r($l)
			display: block
	.header__top
		display: none
	.search-form,
	.nav,
	.currency,
	.favorite,
	.user
		+r($l)
			display: none
	a
		color: #fff 
		&:hover
			color: $red  
	.search-form__btn
		color: #fff
	.search-form__main
		.search-form__btn
			color: $gray 
	.dropdown
		a
			color: $gray 
			&:hover
				color: $red
		.icon-caret-d
			color: #fff 
.header_inner
	.header__top
		display: none
	.header__bottom
		position: relative
		transform: translateY(0)
		+r($l)
			display: block

	.search-form,
	.nav,
	.currency,
	.favorite,
	.user
		+r($l)
			display: none
.search-form
	display: inline-block
	vertical-align: middle
	position: relative
	&__btn
		width: 50px
		height: 50px
		background: none
		-webkit-border-radius: 50% 
		border-radius: 50% 
		color: $gray
		z-index: 1
		font-size: 15px
		+tr(color .3s)
		&:hover
			color: $red 
		&:focus
			background: none !important
	&__main
		position: absolute
		right: 0
		top: 0
		opacity: 0
		width: 260px
		visibility: hidden
		+tr(opacity .5s)
		
		.search-form__btn
			position: absolute
			right: 0
			top: 0
	&.is-active
		.search-form__main
			opacity: 1
			z-index: 2
			visibility: visible
	
.nav
	display: inline-block
	vertical-align: middle
	white-space: nowrap
	font-size: 0
	li
		display: inline-block
		vertical-align: middle
		margin: 0 15px
		font-size: 20px 
		font-family: Tahoma, sans-serif 
		&.is-active
			a
				color: $red 
	a
		display: block
		text-transform: lowercase 
		color: #000 
		height: 50px
		line-height: 50px

.currency
	position: relative
	font-size: 17px
	display: inline-block
	vertical-align: middle
	&:hover
		.currency__active
			&:before,
			&:after
				opacity: 1 
				
	&__active
		display: block
		position: relative
		width: 40px
		height: 40px
		line-height: 40px
		text-align: center

		
.favorite
	display: inline-block
	position: relative
	vertical-align: middle
	&.is-active
		.favorite__active
			color: $yellow 
	&__active
		display: block
		position: relative
		width: 40px
		height: 40px
		line-height: 40px
		text-align: center
		font-size: 14px
	.dropdown
		min-width: 180px
	.counter
		left: 22px
		top: -1px
	
.user
	display: inline-block
	margin: 0 -6px 0 15px
	padding-right: 17px
	position: relative
	vertical-align: middle
	font-size: 17px
	.user__in
		position: relative
	.counter
		top: 25px
		right: 0
	&__pic
		display: block
		width: 42px
		height: 42px
		border-radius: 50%
		overflow: hidden
		img
			display: block
			width: 100%
			height: auto
			border: 1px solid #898989
			-webkit-border-radius: 50% 
			border-radius: 50% 
	.counter
		color: #fff 
	.icon-caret-d
		position: absolute
		right: 0
		top: 50%
		z-index: 2
		margin-top: -3px
		color: #898989 
		font-size: 6px
	.dropdown
		margin-top: 16px
		margin-right: 17px
		.counter
			top: 7px
			
.btn-menu
	display: inline-block
	width: 45px
	height: 45px
	background: #f4a60f 
	font-size: 0
	line-height: 1
	overflow: hidden
	border-radius: 3px 
	+r($s)
		height: 30px
		width: 30px
	.waves-ripple
		border-radius: 50% 
		+r($l)
			border-radius: 0 
	i
		display: inline-block
		vertical-align: middle
		position: relative
		height: 3px
		width: 27px
		background: #fff
		border-radius: 2px
		transition: background .3s
		+r($s)
			width: 21px
			height: 2px
		&:before,
		&:after
			content: ""
			position: absolute
			left: 0
			height: 3px
			width: 27px
			background: #fff
			border-radius: 2px
			transition: transform .3s
			+r($s)
				width: 21px
				height: 2px
		&:before
			top: -9px
			+r($s)
				top: -5px
		&:after
			bottom: -9px
			+r($s)
				bottom: -5px
	&.is-active
		i
			background: none
			&:before
				transform: translate3d(0,9px,0) rotate(45deg)
				+r($s)
					transform: translate3d(0,5px,0) rotate(45deg)
			&:after
				transform: translate3d(0,-9px,0) rotate(-45deg)
				+r($s)
					transform: translate3d(0,-5px,0) rotate(-45deg)
.btn-menu_main
	height: 51px
	width: 51px
	i
		height: 4px
		width: 30px
		&:before,
		&:after,
			height: 4px	
			width: 30px
		&:before
			top: -10px
		&:after
			bottom: -10px
	&.is-active
		i
			&:before
				transform: translate3d(0,10px,0) rotate(45deg)
			&:after
				transform: translate3d(0,-10px,0) rotate(-45deg)
.menu
	position: fixed
	top: 0
	left: 0
	right: 0
	height: 100%
	z-index: 9
	padding-top: 75px
	transform: translateY(-100%)
	+tr(transform .3s)
	background: rgba(#898989,.87) 
	text-align: center
	font-size: 15px
	text-transform: uppercase
	color: #fff 
	max-height: 100%
	overflow-y: auto
	-ms-overflow-x: hidden
	overflow-x: hidden
	&.is-active
		transform: translateY(0)
	li
		position: relative
	a
		display: block
		position: relative
		border-bottom: 1px solid #a3a4a4 
		color: #fff
		height: 57px
		line-height: 57px
		+tr(color .3s)
		&:hover
			color: #ff733f 
		span
			display: inline-block
			position: relative
			line-height: 1
	select
		position: absolute
		top: 0
		left: 0
		min-height: 57px
		width: 100%
		opacity: 0
	&__carrency
		left: -48px
		top: 0
		position: absolute
		font-style: normal
		font-size: 17px
	.icon-caret-d
		position: absolute
		top: 3px
		right: -33px
		font-size: 6px
	.icon-star
		position: absolute
		top: -2px
		left: -40px
	.user
		margin: 0
		position: absolute
		left: -55px
		top: -14px
		&__pic
			margin: 0
			img
				border-color: #fff 
	.search-form
		margin: 7px 0 
		&__main
			position: absolute
			left: 50%
			width: 260px
			margin-left: -130px
			.search-form__btn
				color: #fff 
		.input
			background: #686868
			height: 37px
			color: #fff
		&__btn
			height: 37px
			width: 37px
			color: #fff 
.logo
	position: absolute
	left: 10px
	top: 0
	img
		display: inline-block
		vertical-align: middle
		width: 70px
		height: auto
	span
		+italic
		font-size: 40px
		color: #e41717
		display: inline-block
		vertical-align: middle
		margin-left: 13px 
		text-shadow: 1px 1.7px 0 rgba(255, 255, 255, 0.76)
		+r($l)
			font-size: 22px
.icon-glass
	vertical-align: middle