.main
	padding: 30px 0 47px 
.search_small
	height: 415px
	min-height: 415px
	.container
		+r($s)
			transform: translateY(0)
	.search__in	
		margin-top: 135px
		background: none
		border: 0 
		box-shadow: none
		+r($m)
			margin-top: 75px
		+r($s)
			margin-top: 135px
.breadcrumbs
	background: #fff
	padding: 25px 0
	font-size: 0  
	&__item
		display: inline-block
		margin-left: 19px
		font-size: 17px
		color: #230349 
		vertical-align: middle 
		+tr(color .3s)
		+r($s)
			font-size: 12px
		&:first-child
			margin-left: 0
			&:before
				display: none
		&:before
			content: $i-icon-bread-arr
			+i-icon
			font-size: 14px
			color: #EFC47D 
			display: inline-block
			margin-right: 15px 
			vertical-align: middle
			+r($s)
				font-size: 9px
	a
		&:hover
			color: #b12e52
.text
	font-size: 14px
	+arial
	letter-spacing: .2px
	+r($s)
		font-size: 12px
	p
		margin: 13px 0 
.footnote
	position: relative
	height: 12px
	margin-top: 28px
	display: inline-block
	opacity: .8 
	+r($s)
		margin-top: 21px
	&:before,
	&:after
		content: ""
		position: absolute
		width: 600px
		height: 2px 
		background: #d9d4cc
	&:after
		right: -609px
	&:before
		left: -609px
	&__in
		position: absolute
		top: 1px
		height: 10px
		left: 50%
		margin-left: -9px
		width: 18px
		&:before,
		&:after
			content: ""
			position: absolute 
			height: 2px
			width: 15px
			transform: rotate(45deg)
			top: 4px
			background: #D9D4CC 
		&:before
			left: -3px
		&:after
			transform: rotate(-45deg)
			right: -3px
.block
	width: 100%
	background: #fdfdfd
	border: 1px solid #ececec
	border-bottom: 2px solid #F4AA1B
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14)
	border-radius: 4px 
	position: relative
	padding: 30px 0 35px
	+clr
	+r($s)
		margin-bottom: 27px 
	+r($m)
		padding: 15px 0 30px 
	&__in
		padding: 0 25px 
		.btn
			display: inline-block
			width: auto
	&__head
		margin-bottom: 15px
		font-size: 26px
		padding-bottom: 15px 
		border-bottom: 1px solid #d1d4d4
		+norm
		color: #b12e52
		+r($m)
			font-size: 18px
	&__avatar
		padding: 20px 
	&_mb
		margin-bottom: 20px
	
	&_sidebar
		padding-top: 0
	&_pink
		box-shadow: none
		padding: 25px 15px 35px
		border-width: 0
		border-bottom-width: 2px 
		color: #fff 
		background: #b12e52 url("../img/bg-pink.png") 0 0 repeat 
		+r($m)
			padding: 14px 15px 28px
	&_violet
		box-shadow: none
		padding: 25px 15px 35px
		border-width: 0
		border-bottom-width: 2px 
		border-color: #f4a60f
		color: #fff 
		background: #78599c url("../img/bg-violet.png") 0 0 repeat 
	&_prod
		margin-bottom: 20px
		padding-bottom: 25px
	&_feedback
		padding: 40px 0 35px 
	&_about
		background: #fffcf6
		border-width: 0 
		border-bottom-width: 2px  
		.block__name
			color: #000
			border-color: #f4aa1b  
	&__name
		position: relative
		margin-bottom: 22px
		border-bottom: 1px solid rgba(#000, .15)
		padding-bottom: 10px 
		font-size: 26px
		color: #fff
		font-size: 26px
		box-shadow: 0 1px 0 rgba(#fff, .2)
		+norm
		+r($m)
			font-size: 18px 
		&.is-modif
			color: #b12e52
			border-color: #d1d4d4
		.i-icon-equalizer
			position: absolute
			bottom: 0
			right: 0
			font-size: 48px
			color: #cb738b 
			+r($m)
				font-size: 35px
		&.is-hidden-l
			display: none
			+r($m)
				display: block
		&.is-hidden-m
			+r($m)
				display: none
	&__list
		li
			color: #FFF 
			font-size: 16px
			+arial
			padding-left: 25px 
			position: relative
			margin-bottom: 13px
			letter-spacing: .2px
			+r($m)
				font-size: 12px
				margin-bottom: 10px
				padding-left: 19px
			&:last-child
				margin-bottom: 0
			&:before
				content: $i-icon-checkpoint
				+i-icon
				position: absolute
				left: 0
				font-size: 15px
				color: #FFC64D 
				+r($m)
					font-size: 12px
		
	&__title
		border-bottom: 3px solid #f4ae27 
		padding: 15px 25px 
		min-height: 85px
		line-height: 85px
		+r($m)
			min-height: 55px 
			line-height: 55px 
		span
			display: inline-block
			width: 100%
			vertical-align: middle
			font-size: 40px
			line-height: 1
			text-align: left
			+norm
			color: #000
			+r($m)
				font-size: 22px
				text-align: center
		strong
			display: block
			+tahoma
			font-weight: normal
			font-size: 25px
			color: #656565 
			+r($m)
				font-size: 15px
		
	&__img
		max-width: 200px 
		overflow: hidden
		margin: 0 auto 
		+r($l)
			margin-bottom: 24px 
		+r($m)
			max-width: 160px 
		img
			width: 100%
			height: auto
	&__space
		padding: 40px 22px 
		+r($m)
			padding: 27px 20px 
		&.is-modif-pad
			padding: 15px 22px 36px
			+r($m)
				padding: 15px 20px 0 
		.block__img
			margin-bottom: 0
	&__tip
		background: #eaeaea
		border-bottom: 1px solid rgba(#000,.1)
		padding: 3px 5px 7px
		text-align: center
		position: relative
		+r($m)
			padding: 3px 5px 2px 
		&:before,
		&:after
			content: ""
			position: absolute
			left: 50%
		&:before
			+arr(18,10,#eaeaea,b)
			bottom: -9px
			margin-left: -9px
			z-index: 2
		&:after
			+arr(20,11,rgba(#000,.1),b)
			bottom: -12px
			margin-left: -10px

		span
			color: #000
			font-size: 22px 
			+r($m)
				font-size: 19px
		&.is-modif
			padding: 3px 20px 5px 
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07)
			border-bottom: none 
			&:before,
			&:after
				display: none
	.link
		float: right
		margin-top: 13px
	.info-rating
		float: left
	.text
		margin-bottom: 25px
		+r($m)
			margin-bottom: 15px
	&__loc
		margin-top: 33px
		+r($s)
			text-align: center
		span
			display: inline-block
			vertical-align: middle
			font-size: 22px 
			color: #000 
			width: 200px
			text-align: left
			+r($m)
				font-size: 18px 
				width: 170px
		&:before
			content: $i-icon-loc
			+i-icon
			display: inline-block
			vertical-align: middle
			font-size: 44px 
			color: #B50000 
			margin-right: 10px
			+r($m)
				font-size: 38px
	.btn
		padding: 15px 0
		display: block
		width: 100%
		text-align: center 
	.tel
		margin: 35px 0 0 
.link
	display: inline-block
	line-height: 1
	color: #000 
	letter-spacing: 1px 
	&:hover
		span
			border-color: transparent
	span
		font-size: 17px
		line-height: 1
		color: #000 
		letter-spacing: 1px 
		border-bottom: 1px solid #000
		transition: border-color .2s
		+r($m)
			font-size: 14px
.clr
	+clr
.info-rating
	font-size: 0
	&__name
		display: inline-block
		vertical-align: middle
		font-size: 19px
		color: #000
		margin-right: 10px
		+r($m)
			font-size: 16px
			margin-right: 6px
	&__number
		display: inline-block
		vertical-align: middle
		font-size: 32px 
		color: #D20840
		+arial
		font-weight: bold  
		margin-right: 10px 
		+r($m)
			font-size: 27px
	&__rate
		display: inline-block
		vertical-align: middle
		
	&__icon	
		width: 20px
		height: 12px
		line-height: 12px
		background: #EFA93B 
		text-align: center
		color: #FFF
		font-size: 11px 
		+r($m)
			height: 11px
			width: 18px
			line-height: 11px
			font-size: 10px 
		&.is-minus
			background: #C27803 
			margin-top: 2px  
.raty
	img
		width: 32px
		height: auto
		margin-right: 5px 
	&_small
		img
			width: 20px
			margin: 0
.sidebar
	margin-top: 52px 
	padding: 0 4px
	+r($m)
		margin-top: 29px
	li
		width: 100%
		margin-top: 14px
		+r($m)
			margin-top: 12px
		&:first-child
			margin-top: 0
		
	&_pink
		margin-top: 0
		.sidebar__item
			background: #FFDBDB 
			border: 1px solid #9d1c40
			box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2)
			color: #860528 
	&__item
		display: block
		width: 100%
		text-align: center
		background: #ffedca 
		border: 1px solid #e6ae56
		color: #651B00
		+arial
		+bold
		padding: 15px 0 12px 
		border-radius: 4px
		font-size: 19px 
		+r($m)
			font-size: 16px
			padding: 13px 0 10px 
		&:hover
			background: darken(#ffedca, 5%)
		span
			color: #d20840 
		&.is-active
			background: #efc47d 
.slider-promo
	visibility: hidden 
	margin-bottom: 20px 
	opacity: 0
	transition: opacity .3s
	box-shadow: 0 2px 0 rgba(#000,.19)
	border: 2px solid #f1b652
	border-radius: 5px 
	overflow: hidden
	&.is-ready
		opacity: 1
		visibility: visible 
	&__img
		img
			width: 100%
			border-radius: 3px 
	.slick-prev,
	.slick-next
		+hide-text
		+i-icon
		cursor: pointer
		left: 24px 
		&:hover
			&:before
				color: #ff733f 
		&:before
			content: $i-icon-prev
			background: none
			font-size: 43px 
			color: #FFF
			transition: color .3s
			text-shadow: 0 0 6px rgba(0, 0, 0, 0.36)
	.slick-next
		right: 24px
		left: auto
		&:before
			content: $i-icon-next
	.slick-dots
		bottom: 25px
		li
			padding: 0 4px
		button
			background: #FFF
			height: 16px
			width: 16px
			box-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.2)
	.slick-active
		button
			background: #ff733f 
.list-dots
	font-size: 14px
	+arial
	li
		position: relative
		padding-left: 23px
		margin-bottom: 7px
		&:before
			content: ""
			position: absolute
			left: 0
			top: 6px
			width: 6px
			height: 6px
			background: #efc47d
			border-radius: 50%  
.video
	position: relative
	+r($m)
		margin-top: 15px
	&__play
		position: absolute
		left: 50%
		top: 50%
		transform: translate3d(-50%, -50%, 0)
		width: 85px
		height: 85px
		background: rgba(#fff, .58)
		border-radius: 50%
		box-shadow: 0 2px 2px rgba(#000,.26)
		font-size: 70px
		color: #8356b6
		+tr(background .3s)
		+r($m)
			height: 76px
			width: 76px 
		&:hover
			background: #fff 
		i
			position: absolute
			left: 50%
			top: 50%
			transform: translate3d(-50%, -50%, 0)
			+r($m)
				font-size: 60px
	&__holder
		border: 1px solid #c6a2ed
		-webkit-box-shadow: 0 2px 0 rgba(#000,.3) 
		box-shadow: 0 2px 0 rgba(#000,.3) 
		img
			display: block
			width: 100%
	+ .center-align
		margin-top: 30px
.video_pink
	.video__holder
		border-color: #e6a4b4 
	.video__play
		i
			color: #b12e52 
.video_yellow
	.video__holder
		border-color: #f4aa1b 
	.video__play
		i
			color: #f4aa1b 
.tel
	color: #000 
	+r($m)
		text-align: center
	&__title
		font-size: 19px
		+bold
		+r($m)
			font-size: 12px
	&__number
		font-size: 45px
		+norm
		color: #000 
		+r(1200)
			font-size: 36px
		+r($m)
			font-size: 28px
		+r($s)
			font-size: 27px
		i
			color: #b50000
			font-size: 40px
			vertical-align: middle 
			+r(1200)
				font-size: 34px
			+r($m)
				font-size: 26px

	&_small
		.tel__number
			font-size: 36px
			+r($m)
				font-size: 26px
			+r($s)
				font-style: 30px
			
			i
				margin-right: 7px
				font-size: 34px
				+r($m)
					font-size: 26px
				+r($s)
					font-style: 30px
				
.img-gallery
	margin: 30px 0 
	visibility: hidden
	opacity: 0
	&.is-ready
		visibility: visible
		opacity: 1
	.slick-list
		margin: 0 25px
	.slick-prev,
	.slick-next
		+hide-text
		&:before
			+i-icon
			background: none
			font-size: 32px
			color: #c3c5c5  
			text-shadow: none
	.slick-prev
		&:before
			content: $i-icon-arr-prev 
	.slick-next
		&:before
			content: $i-icon-arr-next 
.img
	img
		display: block
		border: 2px solid #f1b652
		box-shadow: 0 2px 0 #d8d8d8
		width: 100%
		height: auto
		border-radius: 5px 
		transition: box-shadow .3s
		&:hover
			box-shadow: none
.list-special
	font-size: 18px
	+r($m)
		font-size: 16px
	+r($s)
		font-size: 12px
	li
		margin-bottom: 10px
		+r($s)
			margin-bottom: 5px 
	span
		+bold
		color: #b12e52 
.sort
	margin-bottom: 26px
	padding: 0 0 12px
	border-bottom: 1px solid rgba(#bababa, .53)  
	box-shadow: 0 1px 0 rgba(#fff, .33)
	+r($m)
		margin-bottom: 20px
	&__item
		display: inline-block
		margin-right: 10px
		vertical-align: middle
	&__btn
		font-size: 17px
		color: #230349
		background: none
		+tahoma 
		+tr(background .3s)
		+r($m)
			font-size: 14px
		+r($s)
			font-size: 12px
		&:hover
			color: #b84e0e 
		&.is-active
			i
				color: #b84e0e 
		&.is-top
			i
				transform: rotate(180deg)
		i
			vertical-align: middle
			margin-left: 5px
			color: #9b9b9b 
			font-size: 20px
			+r($m)
				font-size: 15px
			+r($s)
				font-size: 13px
.prod
	padding: 0 10px 
	&__img
		display: block
		padding: 10px 
		border: 2px solid #f1b652
		box-shadow: 0 2px 0 #d8d8d8
		border-radius: 5px 
		transition: box-shadow .3s
		background: #fff 
		&:hover
			box-shadow: none
		img
			display: block
			width: 100%
			height: auto
	.text
		padding-right: 10px
	.price
		margin-top: 22px
		color: #fdffca 
		text-align: center
	.btn
		background: #f4a60f
		&:hover
			background: darken(#f4a60f, 5%)
	.raty
		margin-top: 17px
		text-align: right
.track-slider
	.slick-list
		margin: 0 80px 
		+r($m)
			margin: 0 30px 
		+r($sr)
			margin: 0 20px 
	.slick-prev, 
	.slick-next
		+hide-text
		margin-top: -20px
		+r($m)
			margin-top: -12px
		&:before
			background: none 
			+i-icon
			font-size: 40px
			+r($m)
				font-size: 24px 
	.slick-prev
		&:before
			content: $i-icon-arr-prev 
	.slick-next
		&:before
			content: $i-icon-arr-next 
.track
	display: inline-block
	position: relative
	padding: 20px 20px 20px 60px 
	+r($m)
		padding-left: 37px 
	&:hover
		i
			color: darken(#fff695, 5%) 

	i
		position: absolute
		left: 0
		top: 50%
		margin-right: 12px
		font-size: 40px
		color: #fff695 
		transition: color .3s
		transform: translateY(-50%)
		+r($m)
			font-size: 24px
	span
		display: inline-block
		font-size: 18px
		color: #fff 
		+arial
		+r($m)
			font-size: 12px
.tabs
	+clr
	margin: 0 -8px 
	li
		float: left
		padding: 0 8px 
		width: 50% !important
		&.is-active
			.btn-pills
				background: #feaa07 
				border-color: #feaa07 
				+bold
				color: #603f00 
.error-page
	+cover
	padding-bottom: 105px  
	+r($m)
		padding-bottom: 80px
	+r($s)
		padding-bottom: 50px 
	&:before
		content: ""
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		background: #802069
		opacity: 0.7
	.search
		height: auto
		min-height: auto 
	.search__in
		margin-top: 0
	.search__main
		visibility: visible 
	.btn-wrap
		&:before,
		&:after
			background: rgba(#fcfcfc,.65) 

.error	
	margin-top: 149px
	padding: 53px 0 90px
	+clr
	color: #FFF 
	text-shadow: 1.5px 2.6px 1px rgba(0, 0, 0, 0.23)
	+norm
	font-size: 24px
	+r($m)
		font-size: 20px
		padding-bottom: 0 
	+r($s)
		font-size: 14px
		padding-top: 30px 
		margin-top: 100px
	&__in
		font-size: 65px
		text-transform: uppercase 
		line-height: 1
		text-align: center
		+r($m)
			font-size: 50px
		
	&__number
		font-size: 190px
		text-align: center
		margin-top: -20px
		+r($m)
			font-size: 130px
			margin-top: -10px
	&__subtitle
		margin-top: 13px 
		font-size: 26px
		text-align: center
		+r($m)
			font-size: 18px
	&__text
		margin-bottom: 35px 
		letter-spacing: .1px
		+tahoma
		+r($s)
			margin-top: 20px
	&__list
		+tahoma
		letter-spacing: .1px
		li
			vertical-align: middle
			margin-bottom: 10px
			padding-left: 37px  
			position: relative
			+r($s)
				padding-left: 25px 
			&:before
				content: ""
				background: #ff4128
				position: absolute
				left: 0
				top: 50%
				margin-top: -5px
				height: 10px
				width: 10px
				border-radius: 50% 
				vertical-align: middle
				display: inline-block
.btn-center
	+r($m)
		text-align: center
		

