.search
	position: relative
	+cover
	min-height: 550px
	height: 100vh
	+r($m)
		text-align: center
	.container
		+r($s)
			transform: translateY(50%)
	.title
		float: left
		margin-right: 20px
		margin-top: 8px
	.btn
		display: block
		width: 100%
		text-align: center
		padding: 0 12px
		height: 48px
		font-size: 19px
		font-family: Tahoma, sans-serif
		font-weight: bold   
		+r($l)
			padding: 0
			text-align: center
		+r($s)
			box-shadow: 0 3px 0 rgba(#000, .23)
			&:focus
				box-shadow: none
		i
			display: inline-block
			margin-right: 15px
			vertical-align: middle
			color: #e65925
			font-size: 28px
			transition: color .3s
			+r($l)
				margin: 0
			+r($m)
				margin-right: 15px
		&:hover
			i
				color: #D94C17 
		span
			vertical-align: middle
			+r($l)
				display: none
			+r($m)
				display: inline-block
		&:before,
		&:after
			display: none
	&__in
		background: rgba(#90003D,.45)
		padding: 38px 6.5% 
		margin-top: 165px
		border: 2px solid #f4a60f
		border-radius: 4px
		box-shadow: 2.5px 4.3px 1px rgba(0, 0, 0, 0.21)
		+r($s)
			margin-top: 0
			padding: 0
			background: none
			border: 0
			box-shadow: none
	&__title
		margin: 0 0 42px
		font-size: 36px
		+norm
		text-align: center
		text-shadow: 1px 1.7px 0 rgba(0, 0, 0, 0.26)
		color: #feff8c
		+r($m)
			margin: 0 0 35px
			font-size: 22px
			line-height: 1
			text-shadow: 0 2px rgba(#000, .26)
			text-transform: uppercase
		+r($s)
			margin: 35px 0 30px 
			font-size: 19px
			
	&__shell
		overflow: hidden		
		+clr
		border: 1px solid #ff733f
		background: #fff
		box-shadow: 2.5px 4.3px 0 rgba(0, 0, 0, 0.23)
		border-radius: 4px
		padding: 5px
		+r($l)
			padding-right: 53px
		+r($m)
			border: 0
			box-shadow: none
			padding: 0
			background: none 
		+r($s)
			overflow: visible
	&__main
		+clr
		position: relative
		+r($m)
			margin: 0 auto
			max-width: 580px
		+r($sr)
			width: 100%
		.btn-large
			border-radius: 0 4px 4px 0
			+r($m)
				display: block
				width: 100%
				border-radius: 4px 
		.select2-container
			margin: 0
		.title
			+r($m)
				display: none
	&__band
		float: left
		padding-right: 3px
		width: 52%
		+r($l)
			width: 55%
		+r($m)
			padding: 3px
			background: #fff  
			float: none
			border-radius: 4px 
			width: 100%
			margin-bottom: 22px
	
	&__city
		float: left
		width: 30%
		padding-right: 4px
		+r($l)
			width: 45%
		+r($m)
			padding: 3px
			background: #fff  
			float: none
			margin-bottom: 22px
			width: 100%
			border-radius: 4px 
			
	&__btn
		float: left
		width: 18%
		+r($l)
			position: absolute
			right: 5px
			top: 5px
			width: 48px
		+r($m)
			position: static
			width: 100%
	&__examle
		padding-left: 120px 
		margin: 12px 0 0
		font-size: 20px
		color: #fff
		font-family: Tahoma
		text-shadow: 1px 1.7px 0 rgba(0, 0, 0, 0.26) 
		+r($m)
			display: none
		.btn-dots
			font-size: 20px
			font-family: Tahoma
			text-shadow: 1px 1.7px 0 rgba(0, 0, 0, 0.26) 
	&__promo
		position: absolute
		bottom: 30px
		left: 0
		right: 0
		font-size: 22px
		color: #fff
		font-family: Tahoma, sans-serif
		text-shadow: 1px 1.7px 0 rgba(0, 0, 0, 0.26)
		font-weight: bold 
		letter-spacing: 1px 
		+clr 
		height: 60px
		line-height: 60px
		+r($l)
			height: 40px
			font-size: 15px
			line-height: 40px
		+r($m)
			height: auto
			bottom: 0
			line-height: 1.4
			text-align: left
		+r($s)
			display: none
		.col
			+r($m)
				margin-bottom: 30px
			&:last-child
				text-align: right
				+r($m)
					text-align: left
		span
			+r($m)
				display: inline-block
				vertical-align: middle
			&:first-child
				margin-right: 70px
				+r($m)
					margin-right: 0
		em
			font-style: normal
		i
			display: inline-block
			vertical-align: middle
			color: #fff602 
		.i-icon-stars
			font-size: 34px
		.i-icon-user-check
			margin-right: 20px
			font-size: 60px
			+r($l)
				font-size: 40px
	.select2-container 
		+r($s)
			.select2-selection
				padding: 0 22px 0 10px 
				height: 28px
				line-height: 28px
			.select2-selection__arrow 
				height: 28px
				line-height: 28px
				b
					font-size: 8px
			.select2-selection__rendered
				font-size: 12px
.section-service
	padding: 40px 0 37px
	.slider
		margin-bottom: 27px
		
.list-count
	font-size: 14px
	color: #55343d
	margin: 32px 0
	column-count: 4
	+r($l)
		column-count: 3
	+r($m)
		column-count: 2 
	+r($s)
		column-count: 1 
	&_hidden
		display: none
		&.is-active
			display: block
	a
		color: #55343d
		+tr(color .3s)
		&:hover
			color: $red 
	li
		display: block
		position: relative
		padding-left: 72px
		margin-bottom: 8px
	span
		position: absolute
		left: 0
		top: 0
		color: #8351BB
		padding-right: 15px
		width: 72px
		text-align: right
	&_sidebar
		column-count: 1
		margin: 0 20px
		a
			font-weight: normal 
		+r($l)
			column-count: 1
		+r($m)
			column-count: 1 
		+r($s)
			column-count: 2
		+r(430)
			column-count: 1 

	&_fiolet
		a
			color: #442269
		span
			color: #a73e5c 

.tab-sort
	position: relative
	display: table
	margin-bottom: 46px
	width: 100%
	table-layout: fixed
	border-bottom: 1px solid #B0BFBF
	font-size: 14px
	text-transform: uppercase 
	+r($sr)
		text-transform: none
	li
		display: table-cell
		vertical-align: top
		text-align: center
		&.is-active
			position: relative
			a
				color: $red 
			&:before
				content: ""
				position: absolute
				top: 100%
				z-index: 2
				left: 50%
				margin-left: -10px
				+arr(20,10,#dce3e3,b) 
			&:after
				content: ""
				position: absolute
				top: 100%
				left: 50%
				margin-left: -11px
				+arr(22,11,#B0BFBF,b) 
	a
		padding: 20px 0
		color: #7b799f
		display: block
		+tr(color .3s)
		+r($s)
			padding: 10px 0 
		&:hover
			color: $red 
.list-counter
	text-align: center
	font-size: 0
	 
.count
	display: inline-block
	vertical-align: middle
	margin-left: 13px
	font-size: 14px
	color: #7c7c7c
	text-align: center
	font-family: Arial, sans-serif 
	&:first-child
		margin-left: 0
	i
		margin-right: 10px
		vertical-align: middle
		+i-icon
	.icon-view
		font-size: 12px
	.i-icon-comment
		font-size: 16px
		color: #9D417B 
	.i-icon-heart
		color: #ca1549 
		font-size: 15px
	.icon-link-out
		color: $gray
		font-size: 14px 
	&_share
		padding: 6px 10px
		border: 1px solid #d9d9d9
		font-size: 14px
		
		vertical-align: middle
		border-radius: 20px 
		line-height: 1		
		span,
		i
			display: inline-block 
			

.section-news
	padding: 24px 0 18px
	background: #fff 
.news-wrap
	margin: 0 3.5% 3.95% 0
	width: 29.3%
	+r($m)
		width: 43.9%
		margin: 0 5% 5% 0 
	+r($s)
		width: 100%
		margin: 0 0 5%
	// width: 314px
	// margin-bottom: 47px
	// margin-right: 40px
	.news
		padding-right: 0
		margin: 0 0 55px
		&:last-child
			margin-bottom: 0
.news
	padding-right: 40px
	margin: 7px 0 34px
	+r($s)
		min-height: 60px
	.pic
		float: left
		margin-right: 23px
	&__main
		overflow: hidden
		position: relative
		.count
			position: absolute
			right: 0
			top: 0
	.meta
		margin-bottom: 7px
.pic
	width: 60px
	height: 60px
	overflow: hidden
	border-radius: 50% 
	a
		display: block
	img
		display: block
		width: 100%
		border-radius: 50% 
.meta
	font-size: 14px
	color: #7c7c7c
	font-family: Tahoma 
.link-title
	display: inline-block
	line-height: 1.2
	font-size: 17px
	
	color: #292929 
	+tr(color .3s)
a.link-title
	&:hover
		color: $red
		
.link-all
	color: #898989
	font-size: 17px
	+tahoma 
	+tr(color .3s)
	&:hover
		color: $red
		
.create
	color: #fff 
	&__title
		padding-right: 140px
		font-size: 24px
		
		+r($s)
			font-size: 18px
			+tahoma
			padding-right: 40px
	&__link
		color: $yellow_l
		+tr(color .3s) 
		font-size: 19px
		+tahoma
		+r($s)
			font-size: 16px
		&:hover
			color: $yellow
	.valign-wrapper
		position: relative
		height: 173px
		+cover
		z-index: 2
		//background-attachment: fixed 
		+r($s)
			height: 140px
		&:before
			content: ""
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			z-index: -1
			background: rgba(#323A47, .92) 
	.valign
		width: 100%
	.btn
		position: absolute
		top: 50%
		right: 43px
		margin-top: -32px
		+r($s)
			right: 10px
.btn_add
	position: relative
	width: 64px
	height: 64px
	border-radius: 50% 
	box-shadow: 0 2px 5px rgba(#000,.2) 
	&:hover
		background: $red_h 
	i
		position: absolute
		top: 50%
		margin-top: -12px
		margin-left: -1px
		height: 24px
		left: 50%
		width: 2px
		background: #fff
		
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 50%
			margin-left: -12px
			margin-top: -1px
			height: 2px
			width: 24px
			background: #fff  
			
.pop-slider
	position: relative
	padding-left: 145px
	height: 46px
	line-height: 46px
	background: #dedede 
	-webkit-border-radius: 4px 
	border-radius: 4px 
	overflow: hidden
	+r($s)
		//padding-left: 125px
		display: none
	&:after
		content: ""
		position: absolute
		top: 0
		bottom: 0
		right: 0
		width: 150px
		background-image: linear-gradient(to left, #dedede 45%, rgba(#dedede, 0))
	&__prev,
	&__next
		position: absolute
		top: 50%
		margin-top: -10px
		width: 20px
		height: 20px
		background: #8a9496 
		font-size: 7px
		color: #fff 
		z-index: 2
	&__prev
		right: 40px
		border-right: 1px solid #838C8B 
		border-radius: 4px 0 0 4px 
	&__next
		right: 20px
		border-radius: 0 4px 4px 0
	&__title
		position: absolute
		z-index: 2
		left: 0
		top: 0
		padding-left: 26px
		font-size: 15px
		
		text-transform: uppercase
		background: #dedede 
		+r($s)
			font-size: 12px
		&:after
			content: ""
			position: absolute
			top: 0
			bottom: 0
			right: -30px
			width: 30px
			background-image: linear-gradient(to right, #dedede 33%, rgba(#dedede, 0))
	.slick-slider
		a
			display: block
			position: relative
			padding: 0 30px 
			font-size: 13px
			color: #898989
			
			&:hover
				color: $red 
			&:after
				content: ""
				position: absolute
				top: 50%
				right: 0
				margin-top: -7px
				height: 14px
				width: 1px
				background: #898989  
				
.help
	position: relative
	z-index: 2
	padding: 25px 0 
	background: #dce3e3
	+r($m)
		padding-bottom: 0
	+r($sr)
		padding-bottom: 25px
	.container
		max-width: 910px
		+r($m)
			max-width: 680px
	&__bg
		position: absolute
		right: 0
		top: 18px
		pointer-events: none
	&__left
		float: left
		width: 63.18%
		+r($m)
			float: none
			width: 100%
	&__right
		overflow: hidden
		padding: 0 3px 
		padding-left: 33px
		+r($m)
			padding: 0
			
			overflow: visible
		.field
			+r($m)
				float: left
				width: 52.5% 
			+r($sr)
				float: none
				width: 100%
		.field__title
			+r($m)
				display: none
	.btn
		+r($m)
			float: right
			width: 41.5%
		+r($sr)
			float: none
			width: 100%
.promo
	position: relative
	z-index: 2
	height: 450px
	opacity: 0
	visibility: hidden
	+gpu
	+tr(opacity .3s)
	+r($s)
		height: auto
	&.is-ready
		opacity: 1
		visibility: visible
	.slick-slide
		position: relative
		height: 450px
		+r($s)
			height: auto
	&__bg
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		+cover
		z-index: -1
		&:before
			content: ""
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			background-image: linear-gradient(to right, rgba(#ff3a00,.3),  rgba(#ff3a00,1) 60%)
	&__main
		padding: 107px 0 0 105px
		color: #fff 
		
		font-size: 18px
		+r($m)
			padding-left: 0
		+r($s)
			padding: 50px 20px 70px
			font-size: 16px
	&__title
		margin-bottom: 20px
		font-size: 30px
		
		line-height: 1.13
		+r($s)
			font-size: 20px
	.btn-link
		margin-top: 22px
	&__img
		position: absolute
		top: 40px
		right: 0
		z-index: 2
		pointer-events: none
		max-width: 50%
		+r($s)
			display: none
.btn-link
	display: inline-block
	padding: 10px 15px 7px
	min-width: 160px 
	text-align: center
	font-size: 11px
	text-transform: uppercase
	+tahoma
	border-radius: 4px
	color: #fff
	line-height: 1
	box-shadow: 0 1px 2px rgba(#000,.2) 
	background: #00b3d0 
	+tr(background .3s)
	&:hover
		background: darken(#00b3d0, 5%)
	i
		margin-left: 16px
		font-size: 7px