+font(Sansus Webissimo-Regular,Sansus Webissimo-Regular)
=norm
	font-family: "Sansus Webissimo-Regular", Arial, Helvetica, sans-serif 
	
+font(Sansus Webissimo-Italic, Sansus Webissimo-Italic)
=italic
	font-family: "Sansus Webissimo-Italic", Arial, Helvetica, sans-serif
	 
=arial
	font-family: Arial, sans-serif
	
=tahoma
	font-family: Tahoma, sans-serif
	
=bold
	font-weight: bold 
=i-icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
=icon
	font-family: 'icomoon'
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
$red: #ef0505
$orange: #FF5A00
$red_h: #CA2F23
$red_l: #EF5F54
$green: #23BD81
$dark: #6f6f6f
$yellow: #fdba3a
$yellow_l: #fcd45a
$gray: #535353
$gray_d: #3d3e43
$gray_l: #ccc
$gray_m: #838c8b
$border: $gray_l
$blue: #00b3d0
$btn: #ff733f
$btn-hover: #fe6215
$fiolet: #5c2849
$fb: #215b9a 
$tw: #01acf2
$sr: 414
$s: 767
$m: 940
$l: 1100

.hide-on-med-and-down
	+r($l)
		display: none !important
.hide-on-small-and-down
	+r($m)
		display: none !important
.hide-on-large-only
	display: none !important
	+r($l)
		display: block !important
	