@font-face
	font-family: "svgfont"
	src: url('fonts/svgfont.eot')
	src: url('fonts/svgfont.eot?#iefix') format('eot'), url('fonts/svgfont.woff') format('woff'), url('fonts/svgfont.woff2') format('woff2'), url('fonts/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$i-icon-comment: "\EA01"
$i-icon-heart: "\EA02"
$i-icon-stars: "\EA03"
$i-icon-g: "\EA04"
$i-icon-bread-arr: "\EA05"
$i-icon-search: "\EA06"
$i-icon-bubble: "\EA07"
$i-icon-checkpoint: "\EA08"
$i-icon-facebook: "\EA09"
$i-icon-user-check: "\EA0A"
$i-icon-caret-d: "\EA0B"
$i-icon-play: "\EA0C"
$i-icon-tel: "\EA0D"
$i-icon-close: "\EA0E"
$i-icon-sort: "\EA0F"
$i-icon-speaker: "\EA10"
$i-icon-letter: "\EA11"
$i-icon-call: "\EA12"
$i-icon-loc: "\EA13"
$i-icon-twit: "\EA14"
$i-icon-vk: "\EA15"
$i-icon-next: "\EA16"
$i-icon-prev: "\EA17"
$i-icon-arr-next: "\EA18"
$i-icon-arr-prev: "\EA19"
$i-icon-equalizer: "\EA1A"


%i-icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.i-icon, [class^="i-icon-"], [class*=" i-icon-"]
	@extend %i-icon
	display: inline-block

.i-icon-comment:before
	content: $i-icon-comment
.i-icon-heart:before
	content: $i-icon-heart
.i-icon-stars:before
	content: $i-icon-stars
.i-icon-g:before
	content: $i-icon-g
.i-icon-bread-arr:before
	content: $i-icon-bread-arr
.i-icon-search:before
	content: $i-icon-search
.i-icon-bubble:before
	content: $i-icon-bubble
.i-icon-checkpoint:before
	content: $i-icon-checkpoint
.i-icon-facebook:before
	content: $i-icon-facebook
.i-icon-user-check:before
	content: $i-icon-user-check
.i-icon-caret-d:before
	content: $i-icon-caret-d
.i-icon-play:before
	content: $i-icon-play
.i-icon-tel:before
	content: $i-icon-tel
.i-icon-close:before
	content: $i-icon-close
.i-icon-sort:before
	content: $i-icon-sort
.i-icon-speaker:before
	content: $i-icon-speaker
.i-icon-letter:before
	content: $i-icon-letter
.i-icon-call:before
	content: $i-icon-call
.i-icon-loc:before
	content: $i-icon-loc
.i-icon-twit:before
	content: $i-icon-twit
.i-icon-vk:before
	content: $i-icon-vk
.i-icon-next:before
	content: $i-icon-next
.i-icon-prev:before
	content: $i-icon-prev
.i-icon-arr-next:before
	content: $i-icon-arr-next
.i-icon-arr-prev:before
	content: $i-icon-arr-prev
.i-icon-equalizer:before
	content: $i-icon-equalizer