<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col l12 s12">
				<div class="footer__col footer__col-1">
					<a href="#" class="logo">
						<img src="img/logo.png" alt="Мой Праздник">
						<span>Мой Праздник</span>
					</a>
					<div class="copyright">
						<p>© 2015 Все права защищены. </p>
						<p>ООО "Заказать праздник"</p>
					</div>
				</div>
				<div class="footer__col footer__col-2 center-align">
					<ul class="footer__links">
						<li><a href="#">каталог</a></li>
						<li><a href="#">помощь</a></li>
						<li><a href="#">о нас</a></li>
						<li><a href="#">регистрация</a></li>
					</ul>
				</div>			
				<div class="footer__col footer__col-4 center-align">
					<div class="footer__name">Мы с социальных сетях:</div>
					<ul class="footer__soc">
						<li><a href="#" class="waves-effect waves-dark"><i class="i-icon-vk"></i></a></li>
						<li><a href="#" class="waves-effect waves-dark"><i class="icon-fb"></i></a></li>
						<li><a href="#" class="waves-effect waves-dark"><i class="icon-tw"></i></a></li>
						<li><a href="#" class="waves-effect waves-dark"><i class="i-icon-g"></i></a></li>
					</ul>
				</div>
				<div class="footer__col footer__col-3">
					<div class="footer__name">
						<i class="i-icon-letter"></i>
						Подписаться на новости:
					</div>
					<div class="subscribe">
						<form action="#">
							<input type="email" class="subscribe__input" placeholder="e-mail">
							<button class="waves-effect waves-light gray btn" type="submit"><i class="i-icon-checkpoint"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
//=include popups.html
<!-- load scripts -->
<script src="js/app.js"></script>
