<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<!-- theme color for android 5.0 -->
<meta name="theme-color" content="#ff3a00"> 
<link rel="stylesheet" media="all" href="css/style.css" >