<div class="header header_index js-header-index">
	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="col l12 m12 s12">
					<a href="#" class="logo">
						<img src="img/logo.png" alt="Мой Праздник">
						<span>Мой Праздник</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>