<div class="header header_index js-header-index">
	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="col l12 m12 s12">
					<a href="#" class="logo">
						<img src="img/logo.png" alt="Мой Праздник">
						<span>Мой Праздник</span>
					</a>
					<div class="header__main">
						<form action="#">
							<div class="header__band">
								<select class="js-select-json" data-placeholder="Кого вы ищите?" style="width: 100%"></select>
							</div>
							<div class="header__city">
								<select class="js-select" data-placeholder="Выберите город" style="width: 100%">
										<option></option>
										<option value="Киев">Киев</option>
										<option value="Одесса">Одесса</option>
										<option value="Харьков">Харьков</option>
										<option value="Донецк">Донецк</option>
										<option value="Луганск">Луганск</option>
										<option value="Львов">Львов</option>
										<option value="Ужгород">Ужгород</option>
										<option value="Киев">Киев</option>
										<option value="Одесса">Одесса</option>
										<option value="Харьков">Харьков</option>
										<option value="Донецк">Донецк</option>
										<option value="Луганск">Луганск</option>
										<option value="Львов">Львов</option>
										<option value="Ужгород">Ужгород</option>
										<option value="Киев">Киев</option>
										<option value="Одесса">Одесса</option>
										<option value="Харьков">Харьков</option>
										<option value="Донецк">Донецк</option>
										<option value="Луганск">Луганск</option>
										<option value="Львов">Львов</option>
										<option value="Ужгород">Ужгород</option>
										<option value="Киев">Киев</option>
										<option value="Одесса">Одесса</option>
										<option value="Харьков">Харьков</option>
										<option value="Донецк">Донецк</option>
										<option value="Луганск">Луганск</option>
										<option value="Львов">Львов</option>
										<option value="Ужгород">Ужгород</option>
										<option value="Киев">Киев</option>
										<option value="Одесса">Одесса</option>
										<option value="Харьков">Харьков</option>
										<option value="Донецк">Донецк</option>
										<option value="Луганск">Луганск</option>
										<option value="Львов">Львов</option>
										<option value="Ужгород">Ужгород</option>
										<option value="Киев">Киев</option>
										<option value="Одесса">Одесса</option>
										<option value="Харьков">Харьков</option>
										<option value="Донецк">Донецк</option>
										<option value="Луганск">Луганск</option>
										<option value="Львов">Львов</option>
										<option value="Ужгород">Ужгород</option>
									</select>
							</div>
							<button class="btn waves-effect waves-light" type="submit">
								<i class="i-icon-search"></i>
							</button>
							<button class="btn btn_enter btn_yellow waves-effect waves-dark js-popup-trigger" data-popup="js-popup-login" type="button">
								Войти
							</button>
							<button class="btn-menu waves-effect waves-circle waves-dark js-toggle-menu" type="button">
								<i></i>
							</button>
							<button class="btn-menu btn-menu_main waves-effect waves-circle waves-dark js-toggle-header" type="button">
								<i></i>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="container">
			<div class="row">
				<div class="col l12 m12 s12">
					<div class="header__main">
						<a href="#" class="logo">
							<img src="img/logo.png" alt="Мой Праздник">
							<span>Мой Праздник</span>
						</a>
						<ul class="nav">
							<li><a href="#">Каталог</a></li>
							<li><a href="#">Помощь</a></li>
							<li><a href="#">О нас</a></li>
							<li><a href="#">регистрация</a></li>
						</ul>
						<button class="btn btn_yellow waves-effect waves-dark js-popup-trigger" data-popup="js-popup-login" type="button">
							Войти
						</button>
						<button class="btn-menu waves-effect waves-dark js-toggle-menu" type="button">
							<i></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>