<div class="menu js-menu">
	<ul class="menu__nav">
		<li><a href="#">Каталог</a></li>
		<li><a href="#">Журнал</a></li>
		<li><a href="#">Помощь</a></li>
		<li><a href="#">О нас</a></li>
		<li>
			<a class="js-popup-trigger" href="#" data-popup="js-popup-login">Войти</a>
		</li>
	</ul>
</div>