<div class="menu js-menu">
	<ul class="menu__nav">
		<li><a href="#">Каталог</a></li>
		<li><a href="#">Журнал</a></li>
		<li><a href="#">Помощь</a></li>
		<li><a href="#">О нас</a></li>
		<li>
			<a href="#">
				<span>
					<div class="user">
						<span class="user__pic">
							<img src="img/user.png" alt="user">
						</span>
					</div>
					профайл<i class="icon-caret-d"></i>
				</span>
			</a>
			<select class="browser-default">
				<option value="Профиль">Профиль</option>
				<option value="Уведомления">Уведомления (14)</option>
				<option value="Пригласить друзей" disabled>Пригласить друзей</option>
				<option value="Выйти">Выйти</option>
			</select>
		</li>
	</ul>
</div>