<div class="popup js-popup js-popup-login" style="background-image: url(img/popup-bg.jpg);">
	<div class="popup__in">
		<div class="popup__head">
			<a href="#" class="logo">
				<img src="img/logo.png" alt="Мой Праздник">
				<span>Мой Праздник</span>
			</a>
		</div>
		<ul class="tabs js-tabs-simple">
		    <li class="is-active">
		    	<a class="btn-pills btn-pills_block waves-effect waves-light" href="#">Регистрация</a>
		    </li>
		    <li>
		    	<a class="btn-pills btn-pills_block waves-effect waves-light" href="#">Войти</a>
		    </li>
		</ul>
		<div>
			<div class="tabs-cont js-tabs-simple-content">
				<form action="#" class="js-validate">
					<div class="or">
						<span>Кто вы?</span>
					</div>
					<div class="field">
						<select class="js-select-popup">
							<option value="Скоро праздную праздник">Скоро праздную праздник</option>
							<option value="Музыкант">Музыкант</option>
							<option value="Ведущий">Ведущий</option>
							<option value="Поп-группа">Поп-группа</option>
							<option value="Скрипач">Скрипач</option></option>
						</select>
					</div>
					<label class="field">
						<input class="input" type="text" placeholder="Имя" required>
						<i class="icon-invalid"></i>
						<i class="icon-valid"></i>
					</label>
					<label class="field">
						<input class="input" type="text" placeholder="Фамилия" required name="surname">
						<i class="icon-invalid"></i>
						<i class="icon-valid"></i>
					</label>
					<label class="field">
						<input class="input" type="text" placeholder="Номер телефона" required name="tel">
						<i class="icon-invalid"></i>
						<i class="icon-valid"></i>
					</label>
					<div class="or">
						<span>Цель регистрации</span>
					</div>
					<div class="field">
						<select class="js-select-popup">
							<option value="Хочу получать интересные предложения">Хочу получать интересные предложения</option>
							<option value="Музыкант">Музыкант</option>
							<option value="Ведущий">Ведущий</option>
							<option value="Поп-группа">Поп-группа</option>
							<option value="Скрипач">Скрипач</option></option>
						</select>
					</div>
					<label class="field">
						<input class="input" type="email" placeholder="E-mail" required name="email">
						<i class="icon-invalid"></i>
						<i class="icon-valid"></i>
					</label>
					<button class="btn btn_full-width waves-effect waves-light" type="submit">регистрация</button>
				</form>
			</div>
			<div class="tabs-cont js-tabs-simple-content">
				<div class="or">
					<span>или</span>
				</div>
				<form action="#" class="js-validate">
					<label class="field">
						<input class="input" type="email" placeholder="Эл. почта " required name="email">
						<i class="icon-invalid"></i>
						<i class="icon-valid"></i>
					</label>
					<label class="field">
						<input class="input" type="password" placeholder="Пароль" required name="password">
						<i class="icon-invalid"></i>
						<i class="icon-valid"></i>
					</label>
					<div class="field">
						<button class="btn btn_full-width waves-effect waves-light" type="submit">войти</button>
					</div>
				</form>
				<div class="text-center">
					<a href="#" class="btn-dots">Восстановить пароль</a>
				</div>
			</div>
		</div>
		<button class="popup__close js-popup-close" type="button"><i class="i-icon-close"></i></button>
	</div>
	<button class="popup__close js-popup-close" type="button"><i class="i-icon-close"></i></button>
</div>
<div class="popup popup_with-title js-popup js-popup-callback" style="background-image: url(img/popup-bg.jpg);">
	<div class="popup__in">
		<div class="popup__head">
			<div class="row">
				<div class="col l7 m8 s12">
					<a href="#" class="logo">
						<img src="img/logo.png" alt="Мой Праздник">
						<span>Мой Праздник</span>
					</a>
				</div>
				<div class="col l5 m4 s12">
					<div class="popup__title">Помощь</div>
				</div>
			</div>
		</div>
		<div class="popup__text">
			<div class="text-center">
				<p>Оставьте контактные данные, <br>мы перезвоним Вам в ближайшее время</p>
			</div>
		</div>
		<form action="#" class="js-validate">
			<label class="field">
				<input class="input" type="text" placeholder="Имя" required>
				<i class="icon-invalid"></i>
				<i class="icon-valid"></i>
			</label>
			<label class="field">
				<input class="input" type="text" placeholder="Номер телефона" required name="tel">
				<i class="icon-invalid"></i>
				<i class="icon-valid"></i>
			</label>
			<button class="btn btn_full-width waves-effect waves-light" type="submit">ОТПРАВИТЬ</button>
		</form>
		<button class="popup__close js-popup-close" type="button"><i class="i-icon-close"></i></button>
	</div>
	<button class="popup__close js-popup-close" type="button"><i class="i-icon-close"></i></button>
</div>